[Desktop Entry]
Version=1.0
Name=CaletaCAM
Comment=Abre la aplicación para la captura mediante OAK-D
Exec=python3 /home/andres/caleta/CaletaSoftware/main.py
Icon=/home/andres/caleta/CaletaSoftware/logo_caleta.png
Terminal=true
Type=Application
Categories=Utility;Application;